@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@500&display=swap');

*{
    margin : 0;
    padding : 0;
    box-sizing: border-box;
}

html{
    font-size : 10px;
    --font1 : 'Barlow Condensed', sans-serif;
    --blue1 : #eff6ff;
    --blue2 : #dbeafe;
    --slate5 : #334155;
}

.main{
    font-family: var(--font1);
    color : var(--slate5);
    padding : 5rem;
    background-color: var(--blue1);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap : 1rem;
}

.main-title{
    font-size : 5rem;
}

.display-container{
    display: flex;
    flex-direction: column;
    gap : 1rem;
}

/*

    FORM STYLE

*/

.form{
    background-color: var(--blue2);
    padding : 1rem;
    border-radius: 0.5rem;
    width : 50rem;
    display: flex;
    flex-direction: column;
    gap : 1rem;
}

.section{
    display: flex;
    flex-direction: column;
    gap : 1rem;
}

.section-title{
    font-size : 3rem;
}

.section-child{
    display: flex;
    flex-direction: column;
    gap : 1.3rem;
}

label{
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    gap : 0.3rem;
}

input, textarea{
    font-family: var(--font1);
    font-size : 1.8rem;
    border: 0;
    padding : 1rem;
    resize : none;
    transition: all 0.3s;
}

input:focus, textarea:focus{
    outline: none;
    background-color: var(--blue1);
}

textarea{
    height : 10rem;
}

.hori-container{
    display: flex;
    flex-direction: row;
    gap : 1rem;
    width : 100%;
}

.hori-container label{
    flex-grow: 1;
}

button {
    height : 5rem;
    width : 10rem;
    background-color: white;
    border : none;
    transition: all 0.3s;
}

button img{
    height : 3rem;
    width : 3rem;
}

.form button:hover{
    cursor: pointer;
    background-color: var(--blue1);
}

.btn{
    display: flex;
    justify-content: center;
    align-items: center;
}

/*

    CV STYLE

*/

.CV-container{
    background-color: white;
    height : 70rem;
    width : 60rem;
    padding : 3rem;
    display: flex;
    flex-direction: column;
    gap : 1rem;
}

.CV-container h3{
    font-size : 2rem;
    text-decoration: underline;
}
.CV-container h4{
    font-size : 1.8rem;
}

.CV-container p{
    font-size : 1.8rem;
}

.cv-p-name{
    font-size: 3rem;
}

.cv-p-details{
    font-weight: bold;
}


.cv-personal{
    border-bottom : 0.3rem solid var(--slate5);
    padding : 1rem 0 1rem 0;
    display: flex;
    flex-direction: column;
    gap : 0.5rem;
}

.cv-exp, .cv-edu{
    display: flex;
    flex-direction: column;
    gap : 1rem;
}

.cv-j-container, .cv-e-container{
    display: flex;
    flex-direction: column;
    gap : 0.5rem;
}

#cv-j-desc{
    font-size: 1.5rem;
}

.display-container button{
    font-family: var(--font1);
    font-size: 2rem;
}

.main-btn:hover{
    cursor: pointer;
    background-color: var(--blue2);
}
